.text1 {
  color: blue;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.text2 {
  color: blue;
  font-family: "Kaushan Script", cursive;
}
.text3 {
  color: blue;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
/*@font-face {
  font-family: "Kaushian";
  src: url("../fonts/KaushanScript-Regular.otf");
  src: url("../fonts/KaushanScript-Regular.ttf");
} */
