.blog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  padding: 60px 60px 30px 60px; 
  overflow: auto;
  & [data-animate] {
    opacity: 0;
    transform: translateY( 20px );
    transition: all 0.4s ease;
  }
  &--showed {
    display: flex;
    z-index: 100;
  }
  &__close-btn {
    position: fixed;
    z-index: 20;
    top: 22px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:before,
    &:after {
      position: absolute;
      top: 3px;
      left: ~"calc(50% - 2px)";
      width: 3px; 
      height: 20px;
      content: "";
      background: lightgrey;
      transition: background 0.2s;
    }
    &:before { 
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover:before,
    &:hover:after {
      background: grey;
    }
  }
  .blog-animate {
    opacity: 1;
    transform: translateY( 0 );
  }
}

.blog-content {
  color: @fc-light-grey;
  text-align: center;
  &__category {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: @f-Kaushan;
//    &[data-animate] {
//      transform: translateX( -40px );
//    }
//    &.blog-animate {
//      transform: translateX( 0 );
//    }
  }
  &__header {
    font-size: 37px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: ~"calc(50% - 50px)";
      width: 100px;
      height: 3px;
      background: @c-light-red;
    }
  }
  &__image {
    display: inline-block;
    border-radius: 5px;
    width: 380px;
    height: 240px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url( "/graph/pict/blog-image-1.jpg" );
    &[data-animate] {
      transform: scale( 0 );
    }
    &.blog-animate {
      transform: scale( 1 );
    }
  }
  &__text {
    text-align: justify;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    &[data-animate] {
      transform: translateY( 20px );
    }
    &.blog-animate {
      transform: translateY( 0 );
    }
  }
  p {
    color: inherit;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
//    &:first-letter{
//      color: red;
////      font-style: italic;
//      font-size: larger;
//    }
  }
}
