@bg-overlay:  #bcfde7;
@fc-overlay-content:   #473E3F;


.gallery-overlay {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: @bg-overlay;  //#9affdd //#bcfde7
  opacity: 0;
  transition: all 0.4s;
  transition-delay: 0.1s;
  h2 {
    font-family: @f-Kaushan;
    font-size: 35px;
    margin-bottom: 25px;
    color: @fc-overlay-content;
//    text-shadow: 1px 1px 0 white;
  }
  p {
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    color: @fc-overlay-content;
  }
  &__close-btn {
    position: fixed;
    z-index: 20;
    top: 22px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: scale(0);
    &:before,
    &:after {
      position: absolute;
      top: 3px;
      left: ~"calc(50% - 2px)";
      width: 3px; 
      height: 25px;
      content: "";
      background: @fc-overlay-content; //rgba(0, 72, 65, 0.91)
      transition: background 0.2s;
    }
    &:before { 
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover:before,
    &:hover:after {
      background: #218C8D;
    }
  }
  &__content {
    width: 45%;
    box-sizing: border-box;
    color: black;
    padding-right: 80px;
  }
  &--animate {
    opacity: 0;
    transition: all 0.4s ease-in;
//    color: rgba(0, 72, 65, 0.91);
    &[data-animate='scale'] {
      transform: rotate(360deg) scale( 0 );
    }
    &[data-animate="translateY"] {
      transform: translateY(20px)
    }
  }
}


.content-animate-in {
  opacity: 1;
  transition: all 0.3s ease-out;
  &[data-animate="scale"] {
    transform: rotate( 0 )scale(1); 
  }
  &[data-animate="translateY"] {
    transform: translateY(0)
  }
}


.showed { 
  display: flex;
} 

.color {
  opacity: 1;
}

//.images-scale-out {
//  transform-origin: center;
//  transform: scale(0);
//  opacity: 0;
//  transition: 0.5s ease-in;
//}

.block-scroll {
  overflow: hidden;
  padding-right: 17px;
}