.gallery-overlay {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: #9affdd;
  opacity: 0;
  transition: all 0.4s;
  h2 {
    font-family: @f-Kaushan;
    font-size: 28px;
    margin-bottom: 15px;
  }
  &__close-btn {
    position: fixed;
    z-index: 20;
    top: 22px;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:before,
    &:after {
      position: absolute;
      top: 3px;
      left: ~"calc(50% - 2px)";
      width: 3px; 
      height: 25px;
      content: "";
      background: rgba(0, 72, 65, 0.91);
      transition: background 0.2s;
    }
    &:before { 
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover:before,
    &:hover:after {
      background: white;
    }
  }
  &__content {
    width: 45%;
    box-sizing: border-box;
    color: black;
    padding-right: 40px;
  }
  &--animate {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s;
    transition-timing-function: ease-in;
    color: rgba(0, 72, 65, 0.91);
    text-shadow: 1px 1px 0 white;
  }
}


.animate {
  opacity: 1;
  transform: translateY(0); 
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
}


.showed { 
  display: flex;
} 

.color {
  opacity: 1;
}

.scale {
  transform-origin: center;
  transform: scale(0);
  opacity: 0;
  transition-timing-function: ease-in;
}

.overflow-blocked {
  overflow: hidden;
  padding-right: 17px;
}