.story {
  margin-bottom: 110px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    img {
      position: relative;
      z-index: 10;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 4px;
      z-index: 100;
      opacity: 0.8;
      background-image: linear-gradient(to top, @C-light-yellow, @C-light-red);
    }
  }
}

.statistics {
  background: @C-aquamarine;
  color: white;
  margin-bottom: 105px;
  &__list {
    display: flex;
  }
  &__item {
    flex-basis: 20%;
    text-align: center;
    border-left: 1px solid #b5eae0;
    padding: 85px 0;
  }
  &__item:last-child {
    border-right: 1px solid #b5eae0;
  }
  &__number,
  &__item-title {
    display: block;
    font-family: @f-Montserrat;
  }
  &__number {
    font-size: 72px;
    line-height: 72px;
    font-weight: bold;
  }
  &__item-title {
    font-size: 14px;
    text-transform: uppercase;
  }
}

.services {
  margin-bottom: 80px;
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background: @bc-grey;
    }
  }
  &__item {
    position: relative;
    box-sizing: border-box;
    flex-basis: 31%;
    padding-left: 60px;
    margin-top: 45px;
    margin-bottom: 45px;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__item-title {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
  }
}

.design {
  padding-top: 110px;
  padding-bottom: 680px;
  margin-bottom: 40px;
  background-image: 
    url("/graph/img/design-devices-image.png"), 
    url("/graph/img/main-design-background.jpg");
  background-repeat: 
    no-repeat, 
    repeat-x;
  background-position: 
    center bottom, 
    center;
}

.skills {
  margin-bottom: 190px;
  &__feature {
    width: 100%;
    height: 380px;
    background: lightgrey;
  }
}

.carousel {
  width: 100%;
  height: 150px;
  margin-bottom: 170px;
  background: lightgrey;
}

.team {
  margin-bottom: 170px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
  }
  &__photo {
    margin-bottom: 40px;
  }
  &__name {
    line-height: 14px;
    margin-bottom: 15px;
    font-weight: normal;
  }
  &__position {
    display: block;
    font-family: @f-Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: @fc-light-grey;
  }
}

.partners {
  margin-bottom: 170px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.work {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 100px;
  &__list {
    display: flex;
    height: 780px;
  }
  &__elem {
    box-sizing: border-box;
  }
  &__wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__wrapper--left {
    width: 50%;
    article {
      width: 50%;
    }
    article:nth-child(1) {
      background: url("/graph/pict/work-image-1.jpg") no-repeat center 90%;
    }
    article:nth-child(2) {
      background: url("/graph/pict/work-image-2.jpg") no-repeat center bottom;
    }
    article:nth-child(3) {
      background: url("/graph/pict/work-image-3.jpg") no-repeat center bottom;
    }
    article:nth-child(4) {
      background: url("/graph/pict/work-image-4.jpg") no-repeat center bottom;
    } 
  }
  &__wrapper--center {
    width: 25%;
    article {
      width: 100%;
      background: url("/graph/pict/work-image-5.jpg") no-repeat center center;
    }
  }
  &__wrapper--right {
    width: 25%;
    article {
      width: 100%;
    }
    article:nth-child(1) {
      background: url("/graph/pict/work-image-6.jpg") no-repeat center center;
    }
    article:nth-child(2) {
      background: url("/graph/pict/work-image-7.jpg") no-repeat center center;
    }
  }
}

.clients {
  padding-top: 110px;
  padding-bottom: 140px;
  margin-bottom: 110px;
  background-image: url("/graph/img/main-clients-background.jpg");
  background-position: center;
  background-repeat: repeat-x;
  .section-title {
    margin-bottom: 70px;
  }
  &__reviews-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__review {
    position: relative;
    box-sizing: border-box;
    flex-basis: 45%;
    padding-left: 140px;
    margin-bottom: 65px;
  }
  &__photo {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__name {
    font-size: 14px;
    line-height: 14px;
    font-family: @f-Montserrat;
    text-transform: uppercase;
    margin-bottom: 13px;
    color: @fc-headings-dark;
    font-weight: normal;
  }
  &__position {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 15px;
    font-family: @f-Roboto;
    font-weight: 300;
    font-style: italic;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 3px;
      background: @C-light-red;
    }
  }
}

.blog {
  margin-bottom: 115px;
  &__articles-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__article {
    position: relative;   
    width: 380px;
  }
  &__article-img {
    margin-bottom: 15px;
  }
  &__article-date {
    position: absolute;
    top: 160px;
    left: -10px;
    width: 60px;
    padding: 12px 0;
    text-align: center;
    background: #95e1d3;
    color: white;
    span {
      font-size: 15px;
      font-family: @f-Roboto;
      font-style: italic;
      line-height: 15px;
    }
    b {
      display: block;
      font-family: @f-Montserrat;
      font-size: 30px;
      line-height: 30px;
    }
  }
  &__article-title {
    margin-bottom: 15px;
    font-weight: normal;
  }
  &__article-content {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid @bc-grey;
  }
  &__article-views,
  &__article-comments {
    padding-left: 25px;
    background-position: 0 center;
    background-repeat: no-repeat;
    font-family: @f-Roboto;
    font-size: 15px;
    font-style: italic;
    color: @fc-light-grey;
  }
  &__article-views {
    margin-right: 15px;
    background-image: url("/graph/img/blog-views-icon.png");
  }
  &__article-comments {
    background-image: url("/graph/img/blog-comments-icon.png");
  }
}

.map {
  margin-bottom: 70px;
  width: 100%;
  height: 200px;
  background: lightgrey;
}
















