.team {
  margin-bottom: 170px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
  }
  &__image-wrap {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    .overlay {
      position: absolute;
      top: 0; 
      left: 0;
      right: 0;
      bottom: 4px;
      z-index: 15;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: @grad-top-red-yellow;
      transform: translate(0px, 0px);
      transition: all 0.5s ease-in;
      opacity: 0; 
      
      &__list {
        display: flex;
      }
      &__list-item {
        position: relative;
        width: 55px;
        height: 56px;
        border-right: 1px solid @c-light-red;
        background: @c-light-yellow;
        transition: all 0.2s;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child {
          border-right: none;
        }
        &:hover {
          background: @c-light-red;
        }
        &:hover .overlay__social-link {
          color: white;
        }
        //&:hover .hidden {
        //  transform: scaleY(1);
        //  opacity: 1;
        //}
      }
      &__social-link {
        color: @c-light-red;
        transition: all 0.3s;
      }
      //.hidden {
      //  transform: scaleY(0);
      //  position: absolute;
      //  display: flex;
      //  align-items: center;
      //  justify-content: center;
      //  top: 0;
      //  left: 0;
      //  color: white;
      //  background: @c-light-red;
      //  transform-origin: center;
      //  width: 55px;
      //  height: 56px;
      //  opacity: 0;
      //}
    }
    &:hover .overlay {
      opacity: 1;
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px 0 0 @c-aquamarine;
      transition: all 0.4s ease-out;
    }
  }
  &__name {
    line-height: 14px;
    margin-bottom: 15px;
    font-weight: normal;
  }
  &__position {
    display: block;
    font-family: @f-Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: @fc-light-grey;
  }
}
