.text1 {
  color: blue;
  font-family: @f-Montserrat; 
  text-transform: uppercase;
  font-weight: bold;
}
.text2 {
  color: blue;
  font-family: @f-Kaushan;
}
.text3 { 
  color: blue;
  font-family: @f-Roboto;
  font-style: italic;
}

/*@font-face {
  font-family: "Kaushian";
  src: url("../fonts/KaushanScript-Regular.otf");
  src: url("../fonts/KaushanScript-Regular.ttf");
} */