@f-Kaushan: "Kaushan Script", cursive;
@f-Montserrat: "Montserrat", sans-serif;
@f-Roboto: "Roboto", sans-serif;  

@C-light-yellow: #fce38a;
@C-light-red: #f38181;
@C-aquamarine: #95e1d3;

@fc-light-grey: #999999;
@fc-headings-dark: #333333;